.imgback{
    color: #FE7F88;
    background-image: url('../assets/images/others/background.jpg');
}

.example-spacer {
    flex: 1 1 auto;
  }

  .button-size{
      height: 100%;
      width: 100%;
  }

  .fixed-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}