@import '~@angular/material/theming';
@include mat-core();

$palette-primary: mat-palette($mat-lime,500);
$palette-accent: mat-palette($mat-cyan);
$palette-warn: mat-palette($mat-orange,800);

$light-theme: mat-light-theme(
    $palette-primary,
    $palette-accent,
    $palette-warn,
);

$dark-theme: mat-dark-theme(
    $palette-primary,
    $palette-accent,
    $palette-warn,
);

body{
    margin: 0%;
}