<br />

<div fxLayout="row" fxFill fxLayoutAlign="space-around  center">
  <mat-card class="card-width">
    <mat-card-title align="center"> ETAPA </mat-card-title>
    <br />
    <mat-card-content align="center">
      <img
        *ngIf="isStageSelected"
        mat-card-image
        src="../../assets/images/stagesquare.jpg"
      />
      <img *ngIf="!isStageSelected" mat-card-image src="{{ question }}" />
      <mat-card-subtitle>
        <h1>
          {{
            isStageSelected == true ? stageSelected.stageName : "Por definir"
          }}
        </h1>
      </mat-card-subtitle>
      <hr />
      <mat-card-actions align="end">
        <button
          class="button-width"
          mat-raised-button
          color="primary"
          (click)="getStageRandom()"
        >
          <h1 *ngIf="!isStageSelected">Elegir etapa</h1>
          <h1 *ngIf="isStageSelected">Volver a elegir</h1>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-width">
    <mat-card-title align="center"> GRUPO </mat-card-title>
    <br />
    <mat-card-content>
      <img
        *ngIf="isGroupSelected"
        mat-card-image
        src="../../assets/images/carsquare.jpg"
      />
      <img *ngIf="!isGroupSelected" mat-card-image src="{{ question }}" />
      <mat-card-subtitle align="center">
        <h1>
          {{
            isGroupSelected == true ? groupSelected.groupName : "Por definir"
          }}
        </h1>
      </mat-card-subtitle>
      <hr />
      <mat-card-actions align="end">
        <button
          class="button-width"
          mat-raised-button
          color="primary"
          (click)="getGropupRandom()"
        >
          <h1 *ngIf="!isGroupSelected">Elegir Grupo</h1>
          <h1 *ngIf="isGroupSelected">Volver a elegir</h1>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-width">
    <mat-card-title align="center"> VEHÍCULO </mat-card-title>
    <br />
    <mat-card-content>
      <img
        *ngIf="isVehicleSelected"
        mat-card-image
        src="../../assets/images/carsquare.jpg"
      />
      <img *ngIf="!isVehicleSelected" mat-card-image src="{{ question }}" />
      <mat-card-subtitle align="center">
        <h1>
          {{
            isVehicleSelected == true
              ? vehicleSelected.vehicleName
              : "Por definir"
          }}
        </h1>
      </mat-card-subtitle>
      <hr />
      <mat-card-actions align="end">
        <button
          class="button-width"
          mat-raised-button
          color="primary"
          (click)="getVehicleByGroup()"
        >
          <h1 *ngIf="!isVehicleSelected">Elegir Vehículo</h1>
          <h1 *ngIf="isVehicleSelected">Volver a elegir</h1>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>

<br />

<div fxLayout="row" fxFill fxLayoutAlign="space-around  center">

  

  <mat-card class="card-width">
    <mat-card-title align="center"> ETAPA </mat-card-title>
    <br />
    <mat-card-content align="center">
      <img
        *ngIf="isStageSelected"
        mat-card-image
        src="../../assets/images/stagesquare.jpg"
      />
      <img *ngIf="!isStageSelected" mat-card-image src="{{ question }}" />
      <mat-card-subtitle>
        <h1>
          {{
            isStageSelected == true ? stageSelected.stageName : "Por definir"
          }}
        </h1>
      </mat-card-subtitle>
      <hr />
      <mat-card-actions align="end">
        <button class="button-width" mat-raised-button color="primary">
          <h1 *ngIf="!isStageSelected">Elegir etapa</h1>
          <h1 *ngIf="isStageSelected">Volver a elegir</h1>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-width">
    <mat-card-title align="center"> DESGASTE </mat-card-title>
    <br />
    <div *ngIf="!isSurfaceWearSelected">
      <mat-card-content>
        <img mat-card-image src="{{ question }}" />
        <mat-card-subtitle align="center">
          <h1>'Por definir'</h1>
        </mat-card-subtitle>
        <hr />
        <mat-card-actions align="end">
          <button
            class="button-width"
            mat-raised-button
            color="primary"
            (click)="getSurfaceWearRandom()"
          >
            <h1>Elegir</h1>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <div *ngIf="isSurfaceWearSelected">
      <div
        class="heigth-list"
        *ngFor="let item of surfaceWearSelected; let indice = index"
      >
        <mat-card-subtitle align="center">
          <h2>{{ indice + 1 }} - {{ item.surfaceWearName }}</h2>
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        <hr />
        <mat-card-actions align="end">
          <button
            class="button-width"
            mat-raised-button
            color="primary"
            (click)="getSurfaceWearRandom()"
          >
            <h1>Volver a elegir</h1>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="card-width">
    <mat-card-title align="center"> AREA DE SERVICIO </mat-card-title>
    <br />
    <div *ngIf="!isServiceAreaSelected">
      <mat-card-content>
        <img mat-card-image src="{{ question }}" />
        <mat-card-subtitle align="center">
          <h1>'Por definir'</h1>
        </mat-card-subtitle>
        <hr />
        <mat-card-actions align="end">
          <button
            class="button-width"
            mat-raised-button
            color="primary"
            (click)="getServiceAreaRandom()"
          >
            <h1>Elegir</h1>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </div>

    <div *ngIf="isServiceAreaSelected">
      <div
        class="heigth-list"
        *ngFor="let item of serviceAreaSelected; let indice = index"
      >
        <mat-card-subtitle align="center">
          <h1>{{ indice + 1 }} - {{ item.serviceAreaName }}</h1>
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        <hr />
        <mat-card-actions align="end">
          <button
            class="button-width"
            mat-raised-button
            color="primary"
            (click)="getServiceAreaRandom()"
          >
            <h1>Volver a elegir</h1>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<br>